<div class="select">
    <select class="input" type="text" placeholder="Wind Speed Km/H" name="windDirection">
      <option>Wind direciton</option>
      <option>NNE</option>
      <option>NE</option>
      <option>ENE</option>
      <option>Select dropdown</option>
      <option>With options</option>
      <option>Select dropdown</option>
      <option>With options</option>
      <option>Select dropdown</option>
      <option>With options</option>
      <option>Select dropdown</option>
      <option>With options</option>
    </select>
</div>