<div class="select">
    <select class="input" type="text" placeholder="Wind Direction" name="windDirection">
      <option>Wind direction</option>
      <option>N</option>
      <option>NNE</option>
      <option>NE</option>
      <option>ENE</option>
      <option>E</option>
      <option>ESE</option>
      <option>SE</option>
      <option>SSE</option>
      <option>S</option>
      <option>SSW</option>
      <option>SW</option>
      <option>WSW</option>
      <option>W</option>
      <option>WNW</option>
      <option>NW</option>
      <option>NNW</option>
    </select>
</div>