{{> menu active="about"}}

<section class="box is-3 has-text-centered">
  <h3 class="title">
    Weathertop
  </h3>
  <div class="section">
    Add stations and keep track of weather reports
  </div>
</section>